
.DS_Store

.terraform
.terraform*
*.tfvars
*.tfstate
terraform.tfstate
terraform/pve/terraform.tfstate
*.tfstate.backup

.secrets/*
.certs/*

.terraform.lock.hcl
*.key
.keys/*

*.pem
*.crt
*.csr
*.key

.secrets/
talos/conf/